# Python Project -- Student Gade System

### Installation of library -- Tabulate

In [1]:
!pip install tabulate

Requirement already satisfied: tabulate in c:\users\jaswanth reddi\appdata\local\programs\python\python313\lib\site-packages (0.9.0)

## Code:

#### Declaring the library Tabulate, to create neat tables in terminal.

In [2]:
from tabulate import tabulate

#### Defining a function to calculate grade based on average

In [3]:
def CalculatingGrades(average):
    if average >= 90:
        return "O"
    elif average >= 80:
        return "A"
    elif average >= 70:
        return "B"
    elif average >= 60:
        return "C"
    elif average >= 50:
        return "D"
    else:
        return "F"

#### Taking the input of number of Students and initializing the lists to store the data of Students and Subject names.

In [4]:
n = int(input("Enter the number of Students: "))
StudentsData = []
SubjectNames = []

Enter the number of Students:  3

#### Taking the input of number of Subjects and initiating a for loop to get the Subject name.

In [5]:
NumberOfSubjects = int(input("Enter the number of Subjects: "))
for i in range(NumberOfSubjects):
    NameOfeachSubject = input(f"Enter the name of the Subject {i+1} :")
    SubjectNames.append(NameOfeachSubject)

Enter the number of Subjects:  4
Enter the name of the Subject 1 : Mathematics
Enter the name of the Subject 2 : Social Science
Enter the name of the Subject 3 : Machine Learning
Enter the name of the Subject 4 : Semi Conductors

#### Initiating to for loops to get the details of Students and to get the marks gained in each subject.

In [6]:
for i in range(n):
    print(f"Enter the Details of Student {i+1} :")
    name = input("Name of the Student :")
    marks = []
    TotalMarks = 0
    for subject in SubjectNames:
        mark = int(input(f"Enter the marks gained in subject {subject} :"))
        marks.append(mark)
        TotalMarks += mark
    average = TotalMarks / NumberOfSubjects
    grade = CalculatingGrades(average)
    StudentsData.append([name] + marks + [TotalMarks, f"{average:.2f}", grade])

Enter the Details of Student 1 :

Name of the Student : Keshava Randhi
Enter the marks gained in subject Mathematics : 98
Enter the marks gained in subject Social Science : 87
Enter the marks gained in subject Machine Learning : 88
Enter the marks gained in subject Semi Conductors : 67

Enter the Details of Student 2 :

Name of the Student : Vijay Vardhan
Enter the marks gained in subject Mathematics : 97
Enter the marks gained in subject Social Science : 87
Enter the marks gained in subject Machine Learning : 67
Enter the marks gained in subject Semi Conductors : 77

Enter the Details of Student 3 :

Name of the Student : Manu Saravan
Enter the marks gained in subject Mathematics : 87
Enter the marks gained in subject Social Science : 64
Enter the marks gained in subject Machine Learning : 63
Enter the marks gained in subject Semi Conductors : 89

#### Defining headers for the final table

In [7]:
headers = ["Name"] + SubjectNames + ["Total Marks", "Average", "Grade"]

#### Printing the final report as a table

In [8]:
print("\n-- FINAL REPORT --")
print(tabulate(StudentsData, headers = headers, tablefmt = "grid"))

-- FINAL REPORT --
+----------------+---------------+------------------+--------------------+-------------------+---------------+-----------+---------+
| Name           |   Mathematics |   Social Science |   Machine Learning |   Semi Conductors |   Total Marks |   Average | Grade   |
+================+===============+==================+====================+===================+===============+===========+=========+
| Keshava Randhi |            98 |               87 |                 88 |                67 |           340 |     85    | A       |
+----------------+---------------+------------------+--------------------+-------------------+---------------+-----------+---------+
| Vijay Vardhan  |            97 |               87 |                 67 |                77 |           328 |     82    | A       |
+----------------+---------------+------------------+--------------------+-------------------+---------------+-----------+---------+
| Manu Saravan   |            87 |               64 |                 63 |                89 |           303 |     75.75 | B       |
+----------------+---------------+------------------+--------------------+-------------------+---------------+-----------+---------+